# LPF: Layer Property Flow package file created on 9/9/2009 by ModelMuse version 2.0.0.0.
# Layer Property Flow package file
 9 -1.000000000000E+030  4 # ILPFCB, HDRY, NPLPF
 1 1 1 1 # LAYTYP
 1 1 1 1 # LAYAVG
 -1 -1 -1 -1 # CHANI
 0 0 0 1 # LAYVKA
 0 0 0 0 # LAYWET
HKN1 HK 9.999999700000E-006  1 # PARNAM, PARTYP, PARVAL, NCLU
 1 HKN1_M1 ALL 1 # Layer, MLTARR, ZONARR IZ
HKN2 HK 9.999999700000E-006  1 # PARNAM, PARTYP, PARVAL, NCLU
 2 HKN2_M2 ALL 1 # Layer, MLTARR, ZONARR IZ
HKN3 HK 9.999999700000E-006  1 # PARNAM, PARTYP, PARVAL, NCLU
 3 HKN3_M3 ALL 1 # Layer, MLTARR, ZONARR IZ
HKN4 HK 9.999999700000E-006  1 # PARNAM, PARTYP, PARVAL, NCLU
 4 HKN4_M4 ALL 1 # Layer, MLTARR, ZONARR IZ
 12 # HK Layer 1 Layer 1
CONSTANT    1.000000000000E+000  # HANI Layer 1 Layer 1
CONSTANT    1.000000000000E-006  # VKA Layer 1 Layer 1
 12 # HK Layer 2 Layer 2
CONSTANT    1.000000000000E+000  # HANI Layer 2 Layer 2
CONSTANT    1.000000000000E-006  # VKA Layer 2 Layer 2
 12 # HK Layer 3 Layer 3
CONSTANT    1.000000000000E+000  # HANI Layer 3 Layer 3
CONSTANT    1.000000000000E-006  # VKA Layer 3 Layer 3
 12 # HK Layer 4 Layer 4
CONSTANT    1.000000000000E+000  # HANI Layer 4 Layer 4
CONSTANT    1.000000000000E-006  # VKA Layer 4 Layer 4
