# LPF: Layer Property Flow package file created on 1/28/2009 by ModelMuse version 1.0.9.0.
# LPF input file for test case tc1
 9 -9.990000000000E+002  7 # ILPFCB, HDRY, NPLPF
 0 0 # LAYTYP
 0 0 # LAYAVG
 -1 -1 # CHANI
 1 1 # LAYVKA
 0 0 # LAYWET
SS_1 SS 1.300000000000E-003  1 # PARNAM, PARTYP, PARVAL, NCLU
 1 SS_1_M1 SS_1_Z1 1 # Layer, MLTARR, ZONARR IZ
HK_1 HK 3.000000100000E-004  1 # PARNAM, PARTYP, PARVAL, NCLU
 1 HK_1_M1 HK_1_Z1 1 # Layer, MLTARR, ZONARR IZ
VERT_ANI_1 VANI 1.000000000000E+000  1 # PARNAM, PARTYP, PARVAL, NCLU
 1 VERT_AN_M1 VERT_AN_Z1 1 # Layer, MLTARR, ZONARR IZ
VERT_K_CB VKCB 1.000000000000E-007  1 # PARNAM, PARTYP, PARVAL, NCLU
 1 NONE ALL # Layer, MLTARR, ZONARR
SS_2 SS 1.999999900000E-004  1 # PARNAM, PARTYP, PARVAL, NCLU
 2 SS_2_M2 SS_2_Z2 1 # Layer, MLTARR, ZONARR IZ
HK_2 HK 3.999999900000E-005  1 # PARNAM, PARTYP, PARVAL, NCLU
 2 HK_2_M2 HK_2_Z2 1 # Layer, MLTARR, ZONARR IZ
VERT_ANI_2 VANI 1.000000000000E+000  1 # PARNAM, PARTYP, PARVAL, NCLU
 2 MULT_24 ZONE_22 1 # Layer, MLTARR, ZONARR IZ
 12 # HK Layer 1 Layer 1
CONSTANT    1.000000000000E+000  # HANI Layer 1 Layer 1
 12 # VKA Layer 1 Layer 1
 12 # SS Layer 1 Layer 1
 12 # VKCB Confining Bed 1 Layer 1
 12 # HK Layer 2 Layer 2
CONSTANT    1.000000000000E+000  # HANI Layer 2 Layer 2
 12 # VKA Layer 2 Layer 2
 12 # SS Layer 2 Layer 2
