# LPF: Layer Property Flow package file created on 4/5/2023 by ModelMuse version 5.1.1.21.
     9 -2.000000000000E+020      0 # ILPFCB, HDRY, NPLPF
     1     0 # LAYTYP
     0     0 # LAYAVG
    -1    -1 # CHANI
     0     0 # LAYVKA
     1     0 # LAYWET
  1.000000000000E+000      1     0 # WETFCT, IWETIT, IHDWET
CONSTANT     1.000000000000E+002  # HK Upper Aquifer Layer 1
CONSTANT     1.000000000000E+000  # HANI Upper Aquifer Layer 1
CONSTANT     1.000000000000E+001  # VKA Upper Aquifer Layer 1
CONSTANT     1.000000000000E-005  # SS Upper Aquifer Layer 1
CONSTANT     2.000000000000E-001  # SY Upper Aquifer Layer 1
CONSTANT    -1.000000000000E+000  # WETDRY Upper Aquifer Layer 1
CONSTANT     1.000000000000E+002  # HK Lower Aquifer Layer 2
CONSTANT     1.000000000000E+000  # HANI Lower Aquifer Layer 2
CONSTANT     1.000000000000E+001  # VKA Lower Aquifer Layer 2
CONSTANT     1.000000000000E-005  # SS Lower Aquifer Layer 2
